@tailwind base;
@tailwind components;
@tailwind utilities;

.text-event {
  position: relative;
  color: #0d3051;
  padding-bottom: 25px;
  margin-top: 50px;
}
.text-event:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 100px;
  border-bottom: #2884da solid 4px;
  border-radius: 50px;
}
.description {
  max-height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


.swiper-button-prev:after,
.swiper-button-next:after {
  bor: red !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: red !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: blue !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
 color: blue !important;
}




