<footer class="bg-[#94c6fd]">
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
            <div class="mb-4">
                <img class="px-10" width="200" src="../../assets/images/Logo2.png" alt="">
                <ul class="list-none mt-5 ml-8 ">
                    <li class="mt-2">
                        <a href="#" class="hover:text-blue-500">
                            <i class="fa-solid fa-phone"></i>
                            +09090909090
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#" class="hover:text-blue-500">
                            <i class="fa-solid fa-envelope"></i>
                            MailYour@gmail.com
                        </a>
                    </li>
                    <li><a href="#" class="hover:text-blue-500"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
            <div class="">
                <h2 class="text-2xl font-bold mb-4">Excell-on Services</h2>
                <div class="flex">
                    <ul class="list-disc ml-8">
                        <li><a href="#" class="py-2 block hover:text-blue-500">Home</a></li>
                        <li><a href="#" class="py-2 block hover:text-blue-500">Services</a></li>
                        <li><a href="#" class="py-2 block hover:text-blue-500">Payment</a></li>

                    </ul>
                    <ul class="list-disc ml-14">

                        <li><a href="#" class="py-2 block hover:text-blue-500">Training</a></li>
                        <li><a href="#" class="py-2 block hover:text-blue-500">Reports</a></li>
                        <li><a href="#" class="py-2 block hover:text-blue-500">About Us</a></li>
                    </ul>
                </div>

            </div>

            <div class="">
                <h2 class="text-2xl font-bold mb-4 ">Privacy</h2>
                <ul class="list-none">
                    <li><a href="#" class="py-2 block hover:text-blue-500"><i class="fa-solid fa-image"></i>zzzzz</a></li>
                    <li><a href="#" class="py-2 block hover:text-blue-500"><i class="fa-brands fa-linkedin"></i>zzzz</a></li>
                    <li><a href="#" class="py-2 block hover:text-blue-500"><i class="fa-solid fa-comment"></i>zzzzz</a></li>
                </ul>
            </div>
            <div class="mr-16">
                <h2 class="text-2xl font-bold mb-4">Address</h2>
                <div class="block">
                    <ul class="list-none">
                        <li class="flex items-center mb-2"><span class="icon icon-map-marker mr-2"></span><span
                                class="text">
                                <i class="fa-solid fa-location-dot"></i>
                                203 Fake St. Mountain View, San Francisco, California, USA
                            </span>
                        </li>
                        <li>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7402958369157!2d105.84755407379637!3d21.003044988664143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac748cd9d447%3A0xaf1371c17f07550c!2zMTkgUC4gTMOqIFRoYW5oIE5naOG7iywgQuG6oWNoIE1haSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1703952645414!5m2!1sen!2s"
                                width="250" height="120" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="text-center py-1 border-t border-zinc-300">
        <p class="text-gray-500">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            <i class="icon-heart text-red-500" aria-hidden="true"></i> by <a href="#" target="_blank"
                class="hover:text-blue-500">Excell-on Services</a>
        </p>
    </div>
</footer>