<div class="container mx-auto min-h-[100vh] bg-[url('/assets/images/bgr2.png')] bg-cover bg-no-repeat">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div
            class="flex justify-center mx-auto min-h-[100vh] bg-[url('/assets/images/bgr3.png')] bg-cover bg-no-repeat">
            <div
                class="w-2/3 my-20 rounded-[25px] min-h-[400px] bg-[url('/assets/images/servicesBg.png')] bg-cover bg-no-repeat">
                <div class="grid grid-cols-12 leading-loose">

                    <div class="col-span-5 h-[73vh] pt-4 md:block bg-[#cfdcfb] rounded-r-[25px]">
                        <a routerLink="/home" class="flex ml-5 text-2xl text-[#4476bd]"><i
                                class="fa-solid fa-house"></i></a>
                        <div class="text-center pt-16 grid grid-cols-12">
                            <h2 class="col-span-12 text-3xl">Sign in</h2>
                            <p class="col-span-12">If you already have an account, please log in here.</p>
                            <button routerLink="/auth/login" type="button"
                                class="col-span-12 bg-blue-500 text-white mx-2 py-2 rounded-full text-center">Login
                                Now!</button>
                        </div>
                    </div>

                    <div class="col-span-7 p-4 ">
                        <h1 class="text-3xl text-center">Register</h1>
                        <p class="text-gray-500">Register your account!</p>
                        <div class="mb-3">
                            <div class="flex items-center border-b border-blue-200 py-2">
                                <span class="mr-3"><i class="fas fa-user"></i></span>
                                <input type="text"
                                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                                    placeholder="First Name" id="firstName" formControlName="firstName">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="flex items-center border-b border-blue-200 py-2">
                                <span class="mr-3"><i class="fas fa-user"></i></span>
                                <input type="text"
                                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                                    placeholder="Last Name" id="lastName" formControlName="lastName">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="flex items-center border-b border-blue-200 py-2">
                                <span class="mr-3"><i class="fas fa-user"></i></span>
                                <input type="email"
                                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                                    placeholder="Email" id="email" formControlName="email">
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="flex items-center border-b border-blue-200 py-2">
                                <span class="mr-3"><i class="fas fa-lock"></i></span>
                                <input type="password"
                                    class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                                    placeholder="Password" formControlName="password" >
                            </div>
                        </div>
                        <div class="grid grid-cols-12">
                            <div class="col-span-12 bg-blue-500 text-white px-4 py-2 rounded-full text-center mr-2">
                                <button type="submit" [disabled]="!registrationForm.valid" class="">Register</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- <div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" formControlName="firstName" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" formControlName="lastName" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" />
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!registrationForm.valid">Register</button>
        </div>
    </form>
</div> -->