<!-- department-details.component.html -->
<div *ngIf="employee" class="p-4 bg-gray-200 rounded shadow-md">
    <h2 class="text-2xl font-bold mb-2 flex items-center">
      <img
        src="{{ employee.avatar }}"
        class="h-12 w-12 bg-white rounded-full border mr-2"
        alt="Employee Avatar"
      />{{ employee.firstName }} {{ employee.lastName }}
    </h2>
    <p class="mb-2 text-gray-600">Date of Birth: {{ employee.dob }}</p>
    <p class="mb-2 text-gray-600">Email: {{ employee.email }}</p>
    <p class="mb-2 text-gray-600">Phone: {{ employee.phone }}</p>
  </div>
  