<div class=" md:w-[calc(100%-256px)] md:ml-64 bg-white mt-7 min-h-screen transition-all">
      <!-- Content -->
        <div class="flex-1 px-2 sm:px-0">
          <div class="mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div class="group bg-gray-900/30 py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/40 hover:smooth-hover">
              <a class="bg-gray-900/70 text-white/50 group-hover:text-white group-hover:smooth-hover flex w-20 h-20 rounded-full items-center justify-center" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
              </a>
              <a class="text-white/50 group-hover:text-white group-hover:smooth-hover text-center" href="#">Create group</a>
            </div>
            <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
              <img class="w-20 h-20 object-cover object-center rounded-full" src="/assets/images/Customer1.jpg" alt="cuisine" />
              <h4 class="text-white text-2xl font-bold capitalize text-center">IT</h4>
              <p class="text-white/50">55 members</p>
              <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">22 Online <span class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span></p>
            </div>
            <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
              <img class="w-20 h-20 object-cover object-center rounded-full" src="/assets/images/Customer2.jpg" alt="art" />
              <h4 class="text-white text-2xl font-bold capitalize text-center">HR Management</h4>
              <p class="text-white/50">132 members</p>
              <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">10 Online <span class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span></p>
            </div>
            <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
              <img class="w-20 h-20 object-cover object-center rounded-full" src="/assets/images/Customer4.jpg" alt="gaming" />
              <h4 class="text-white text-2xl font-bold capitalize text-center">Training</h4>
              <p class="text-white/50">207 members</p>
              <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">8 Online <span class="ml-2 w-2 h-2 block bg-red-400 rounded-full group-hover:animate-pulse"></span></p>
            </div>
            <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
              <img class="w-20 h-20 object-cover object-center rounded-full"src="/assets/images/Customer5.jpg" alt="cinema" />
              <h4 class="text-white text-2xl font-bold capitalize text-center">Tele Seler</h4>
              <p class="text-white/50">105 members</p>
              <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">50 Online <span class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span></p>
            </div>
            <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
              <img class="w-20 h-20 object-cover object-center rounded-full" src="/assets/images/Customer6.jpg" alt="song" />
              <h4 class="text-white text-2xl font-bold capitalize text-center">Song</h4>
              <p class="text-white/50">67 members</p>
              <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">3 Online <span class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span></p>
            </div>
            <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
              <img class="w-20 h-20 object-cover object-center rounded-full"src="/assets/images/Customer7.jpg" alt="code" />
              <h4 class="text-white text-2xl font-bold capitalize text-center">Intertenment</h4>
              <p class="text-white/50">83 members</p>
              <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">43 Online <span class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span></p>
            </div>
            <div class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
              <img class="w-20 h-20 object-cover object-center rounded-full" src="/assets/images/Customer8.jpg" alt="dancing" />
              <h4 class="text-white text-2xl font-bold capitalize text-center">Dancing</h4>
              <p class="text-white/50">108 members</p>
              <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">86 Online <span class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span></p>
            </div>
          </div>
        </div>
      </div>
