<div class=" md:w-[calc(100%-256px)] md:ml-64 bg-gray-50 mt-13 min-h-screen transition-all">

    <div class="bg-gray-100 p-4 rounded-xl">
        <div class="grid grid-cols-4 gap-4">
          <div class="bg-white p-4 rounded-xl shadow-md layer1">
            <h2 class="text-lg font-bold mb-2">HR</h2>
            <p class="text-gray-700">Content for layer 1, cell 1</p>
          </div>
          <div class="bg-white p-4 rounded-xl shadow-md layer2">
            <h2 class="text-lg font-bold mb-2">Marketing</h2>
            <p class="text-gray-700">Content for layer 2, cell 2</p>
          </div>
          <div class="bg-white p-4 rounded-xl shadow-md layer3">
            <h2 class="text-lg font-bold mb-2">IT</h2>
            <p class="text-gray-700">Content for layer 3, cell 3</p>
          </div>
          <div class="bg-white p-4 rounded-xl shadow-md layer4">
            <h2 class="text-lg font-bold mb-2">Advise</h2>
            <p class="text-gray-700">Content for layer 4, cell 4</p>
          </div>
        </div>
      </div>
</div>