.content {
    padding-top: 10px;
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 10px;

}

.action {
    padding: 0px 25px 20px;
    justify-content: flex-end;

    button {
        width: 80px;
        flex: 0 0 auto;
        margin-left: 10px;
    }

}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 30px;
    /* Đảm bảo có đủ không gian cho biểu tượng */
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Một lớp overlay mờ trắng */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Đảm bảo overlay nằm trên cùng */
  }
  
  /* Cố định spinner giữa overlay */
  .spinner-border {
    position: absolute;
  }

  .relative {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the right offset as needed */
    transform: translateY(-50%);
    cursor: pointer;
}