<div class="w-full">
    <section class="py-0 text-center " id="home">
        <div class=" grid justify-items-center ">
            <div class="lg:hidden block relative bg-sm pt-16">
                <div class="flex">
                    <div class="order-2 lg:order-none text-left lg:text-left px-10 mt-10">
                        <h1 class="mb-3 text-5xl font-bold leading-tight">Excell-on Consulting Services (ECS)
                        </h1>
                        <p class="mx-1 text-3xl">Helps organizations develop innovative business and solutions <br
                                class="d-none lg:d-block" />focused on defining, and optimizing clients.</p>
                        <p
                            class="font-medium text-center my-5 text-[#303c60] bg-[#93c5fd] rounded-full mx-20 p-3 hover:bg-[#4476bd] hover:text-white">
                            <a class="btn btn-lg  " routerLink="/user/about" role="button">Read more</a>
                        </p>
                    </div>

                </div>
            </div>
            <div class="hidden lg:flex lg:relative bg-holder pt-16">
                <div class="flex ">
                    <div class="order-2 order-none text-left text-left pl-14 mt-10">

                        <h1 class="mb-3 text-5xl font-bold leading-tight">Excell-on Consulting Services (ECS)
                        </h1>
                        <p class="mx-1 text-3xl">Helps organizations develop innovative business and solutions <br
                                class="d-none lg:d-block" />focused on defining, and optimizing clients.</p>
                        <div class="flex mx-10 mt-5 space-x-8">
                            <p
                                class="font-medium px-10 text-lg text-[#303c60] bg-[#93c5fd] rounded-full ... p-2 hover:bg-[#4476bd] hover:text-white">
                                <a class="btn btn-lg  " routerLink="/user/about" role="button">Read more</a>
                            </p>
                            <p
                                class="font-medium px-10 text-lg text-[#303c60] bg-[#93c5fd] rounded-full ... p-2 hover:bg-[#4476bd] hover:text-white">
                                <a class="btn btn-link" routerLink="/user/services" role="button">Services</a>
                            </p>
                        </div>
                    </div>
                    <div class="order-1 md:order-none text-center md:text-right">
                        <img class="img-fluid img-hero" src="../../../assets/images/services.png" width="500" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="pt-0" id="features">
        <div class="bg-[url('/assets/images/bgr1.png')] bg-no-repeat bg-cover">
            <div class="flex flex-row items-center">
                <div
                    class="basis-1/3 order-1 md:order-none text-center md:text-left md:mx-3 hidden sm:hidden md:hidden lg:block">
                    <img class="img-fluid" src="../../../assets/images/banner.png" width="900" alt="" />
                </div>
                <div class="basis-2/3 order-2 md:order-none pl-3 pr-5 md:mx-8">
                    <ng-container *ngIf="service">
                        <h3 class="text-center uppercase text-xl md:text-4xl font-bold leading-loose text-event">
                            Services
                        </h3>
                        <p class="my-4 text-xl">
                            Excel-on the various services that they offer to their clients, so as to meet the
                            requirements of organizations
                        </p>
                        <div class="flex flex-row items-center mb-5" *ngFor="let item of service; let i = index">
                            <div class="basis-1/6">
                                <img class="img-fluid" width="110" [src]="imageService[i].imageSrc"
                                    [alt]="imageService[i].altText" />
                            </div>
                            <div class="px-4 basis-2/3">
                                <h5 class="font-bold text-xl " [style.color]="getColor(i)">{{ item.serviceName }}</h5>
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>



    <section>
        <!-- <div class="bg-gradient-to-r from-blue-200 to-cyan-100 py-8 md:py-10"> -->
        <div class="bg-blue-200 py-6 md:py-8">
            <div class="mx-auto max-w-7xl px-4 lg:px-6">
                <dl class="grid grid-cols-12 gap-x-6 gap-y-12 text-center">
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4 col-span-3">
                        <div class="flex justify-center">
                            <p class="border-dashed border-2 border-white rounded-full">
                                <img class="m-3" src="../../../../assets/images/stars.png" width="48" alt="">

                            </p>
                        </div>
                        <div>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">100%
                            </dd>
                            <dt class="text-base leading-7 text-gray-600">
                                Satisfaction Guaranteed
                            </dt>
                        </div>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4 col-span-3">
                        <div class="flex justify-center">
                            <p class="border-dashed border-2 border-white rounded-full">
                                <img class="m-3" src="../../../../assets/images/calendar.png" width="48" alt="">
                            </p>

                        </div>
                        <div>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">8
                            </dd>
                            <dt class="text-base leading-7 text-gray-600">
                                Years on Market
                            </dt>
                        </div>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4 col-span-3">
                        <div class="flex justify-center">
                            <p class="border-dashed border-2 border-white rounded-full">
                                <img class="m-3" src="../../../../assets/images/user.png" width="48" alt="">
                            </p>

                        </div>
                        <div>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                                2000+
                            </dd>
                            <dt class="text-base leading-7 text-gray-600">
                                Happy Customers
                            </dt>
                        </div>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4 col-span-3">
                        <div class="flex justify-center">
                            <p class="border-dashed border-2 border-white rounded-full">
                                <img class="m-3" src="../../../../assets/images/coins.png" width="48" alt="">
                            </p>

                        </div>
                        <div>
                            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
                                90%
                            </dd>
                            <dt class="text-base leading-7 text-gray-600">
                                Customer profits
                            </dt>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </section>

    <section class="pb-10">
        <div class="">
            <div class="flex md:flex-row items-center">
                <div class="md:w-4/12 px-14 ml-2 text-center md:text-start md:offset-1">
                    <h2 class="text-4xl font-bold leading-loose">
                        Call for Excell-on Consulting Services
                    </h2>
                    <p class="my-4 md:pe-xl-5">Contact us to find out more and book our services</p>
                    <div>
                        <a class="font-medium text-[#303c60] bg-[#93c5fd] rounded-full p-3 hover:bg-[#4476bd] hover:text-white"
                            routerLink="/user/services" role="button">Learn more</a>
                    </div>

                </div>
                <div class="md:w-8/12 order-first md:order-none mr-2 text-center md:text-start"><img
                        class="w-full md:mb-4 hidden sm:hidden md:block lg:block"
                        src="../../../assets/images/servicesItem.png" alt="" />
                </div>
            </div>
        </div>
    </section>


    <section class="mx-14">
        <div class=" grid grid-cols-12 gap-3 mb-3">
            <ng-container *ngIf="service">
                <div *ngFor="let item of service; let i = index"
                    class="col-span-12 lg:col-span-4 grid grid-cols content-between pb-8 bg-[#f8f9fa] mb-4 outline outline-offset-2 outline-blue-100 rounded-lg h-80">
                    <div>
                        <div class=" bg-[#c0ddfe] py-3 rounded-lg">
                            <h4 class="my-1 text-2xl text-center">{{ item.serviceName }}</h4>
                        </div>

                        <h1 class=" text-[#444] pricing-card-title mt-3 font-bold text-xl text-center">4500$<small
                                class="text-body-secondary font-light">/day</small></h1>
                        <ul class="list-disc px-5 mt-3 mb-4">
                            <li>{{ item.description }}</li>
                            <!-- <li>These call centers provide 24 hours service to all customers.</li> -->
                        </ul>
                    </div>
                    <div class="grid grid-cols-12 divide-x-2 divide-blue-200 text-center">
                        <div class="col-span-6">
                            <a routerLink="/user/payment" class="font-medium text-base">
                                Add to cart <i class="fa-solid fa-cart-plus text-sky-400 mx-2"></i>
                            </a>
                        </div>
                        <div class="col-span-6">
                            <a routerLink="" class="font-medium text-base flex justify-end bg-transparent  ... pr-10">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </section>

    <section class="mx-14 mt-10 hidden md:block">
        <h2 class="sm:text-3xl text-3xl font-medium title-font mb-4 text-gray-900 font-bold text-center">
            Customers to cooperate with Excell-on Consulting Services
        </h2>
        <swiper-container class="mySwiper" space-between="0" loop="true" centered-slides="true" autoplay-delay="1000"
            autoplay-disable-on-interaction="false" slides-per-view="6">
            <swiper-slide *ngFor="let customer of customers">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <div class="flex flex-col items-center text-center rounded p-4">
                        <div class="flex-shrink-0 grayscale w-24">
                            <img class="" [src]="customer.imageSrc" alt="{{ customer.altText }}">
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>


        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    </section>

    <section class=" relative bg-[url('/assets/images/ultimatebg.png')] bg-no-repeat bg-cover">
        <div class="px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-3xl font-medium title-font mb-4 text-gray-900 font-bold ...">Contact Us</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Please leave us a message and we will get back to
                    you as soon as possible!</p>
            </div>
            <form action="">
                <div class="lg:w-2/3 md:w-3/4 mx-auto space-y-8">
                    <div class="grid grid-cols-2 gap-4">
                        <label class="block space-y-2">
                            <span class="text-gray-700 font-medium ...">Name</span>
                            <input type="text" class="mt-1 block w-full h-12 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                            invalid:border-pink-500 invalid:text-pink-600
                      focus:invalid:border-pink-500 focus:invalid:ring-pink-500" placeholder="Name" />
                        </label>
                        <label class="block space-y-2">
                            <span class="text-gray-700 font-medium ...">Phone</span>
                            <input type="text"
                                class="mt-1 block w-full h-12 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
                                placeholder="+099099090" />
                        </label>
                    </div>
                    <label class="block space-y-2">
                        <span class="text-gray-700 font-medium ...">Email</span>
                        <input type="email"
                            class="mt-1 block w-full h-12 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
                            placeholder="john@example.com" />
                    </label>
                    <fieldset class="">
                        <legend class="font-medium ...">Choice Services:</legend>
                        <input id="In-bound" class="peer/in mx-1" type="radio" name="status" checked />
                        <label for="In-bound" class="peer-checked/in:text-sky-500 mr-24 text-xl">In-bound</label>

                        <input id="Out-bound" class="peer/out mx-1" type="radio" name="status" />
                        <label for="Out-bound" class="peer-checked/out:text-sky-500 mr-24 text-xl">Out-bound</label>

                        <input id="TeleMarketing" class="peer/tele mx-1" type="radio" name="status" />
                        <label for="TeleMarketing" class="peer-checked/tele:text-sky-500 mr-24 text-xl">Tele
                            Marketing</label>
                    </fieldset>
                    <label class="block space-y-2">
                        <span class="text-gray-700 font-medium ...">Message</span>
                        <textarea
                            class=" resize-none mt-1 block w-full h-32 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
                            rows="3" placeholder="Enter some long form content."></textarea>
                    </label>

                    <div class="grid grid-cols-12">
                        <a
                            class="text-center text-2xl col-span-6 rounded-full p-2 text-[#303c60] bg-[#93c5fd] hover:bg-[#4476bd] hover:text-white hover:cursor-pointer">
                            Send
                            <i class="fa-solid fa-paper-plane"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>