<div class="pl-[260px] bg-[#eeeeee] m-0 min-h-screen h-full py-5 px-3">
    <mat-form-field class="">
        <mat-label><i class="fas fa-search"></i>Filter</mat-label>
        <input class="py-2" matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.clientId}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
            </ng-container>

            <!-- DOB Column -->
            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                    <button (click)="openEditForm(row)" class="text-blueGray-500 py-1 px-3 border hover:border-blue-500 transition">
                        <i class="fas fa-pencil-alt" style="color: blue;"></i>
                    </button>
                    <button (click)="deleteCustomer(row.clientId)" class="text-blueGray-500 py-1 px-3 border hover:border-red-500 transition">
                        <i class="fas fa-trash-alt" style="color: red;"></i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>