<div
    class="modal overflow-y-auto overflow-x-hidden fixed flex justify-center z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow">
            <button type="button"
                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                <span class="sr-only">{{ data.title }}</span>
            </button>
            <div class="p-4 md:p-5 text-center">            
                <div class="mx-auto mb-4 text-gray-400" [innerHTML]="getSanitizedHtml(data.icon)"></div>
                <h3 class="mb-5 text-lg font-normal text-gray-500">{{ data.message }}</h3>
                <button type="button"
                    class="text-white {{ data.isCritical ? 'bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 ' : 'bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 ' }} font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                    (click)="onYesClick()">
                    {{ data.yesText || 'Yes' }}
                </button>
                <button type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-100 "
                    (click)="onNoClick()">{{ data.noText || 'No' }}</button>
            </div>
        </div>
    </div>
</div>