<!-- Navbar -->
<nav
    class="pl-[260px] top-0 left-0 w-full z-10 bg-gray-50 md:flex md:flex-nowrap md:justify-start flex items-center p-4">
    <div class="w-full mx-auto items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
        <!-- Hamburger button for small screens -->
        <button type="button" class="text-lg text-black-600 sm:hidden" (click)="toggleSidebar()">
        </button>
        <!-- Brand -->
        <!-- Brand -->
        <a class="text-blueGray-300 text-sm uppercase hidden lg:inline-block font-semibold">{{ pageTitleFromRoute }}</a>

        
        
        <!-- User -->
        <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
            <div class="flex justify-end mr-8">
                <i class="fa-solid fa-bell text-blue-300 text-2xl"></i>
            </div>
            <li *ngIf="isLoggedOut; else loggedIn" class="ml-auto">
                <a class="profile" routerLink="/auth/adminLogin">
                    Login
                </a>
            </li>
            <ng-template #loggedIn>
                <a class="profile ml-auto">
                    <img class="w-8 h-8" src="../../../../assets/images/avatar.png">
                </a>
            </ng-template>
        </ul>
    </div>
</nav>