
<div class="sidebar">
    <a  routerLink="admin/main" class="logo">
        <img class="mx-12 my-3" src="../../../../assets/images/Logo3.png" width="124px" alt="">
    </a>
    <ul class="side-menu">
        <li><a  routerLink="admin/main"><i class='bx bxs-dashboard fa-gauge fa-solid'></i>Dashboard</a></li>
        <li><a  routerLink="admin/customer"><i class='bx bx-store-alt fa-solid fa-bars-progress'></i>Service </a></li>
        <li class="active"><a  routerLink="admin/customer"><img class="mx-2" src="../../../../assets/images/hierarchy.png" width="25px" alt="">Department </a></li>
        <li><a  routerLink="admin/customer"><img class="mx-2" src="../../../../assets/images/resources.png" width="27px" alt="">HR </a></li>
        <li><a routerLink="admin/customer"><img class="mx-2" src="../../../../assets/images/satisfaction.png" width="24px" alt="">Customer </a></li>
        <li><a  routerLink="admin/customer"><img class="mx-2" src="../../../../assets/images/credit-card.png" width="24px" alt="">Payment </a></li>
        <li><a  routerLink="admin/customer"><img class="mx-2" src="../../../../assets/images/profit-report.png" width="24px" alt="">Report and Statistics</a></li>
    </ul>
    <ul class="side-menu">
        <li>
            <div>
            <a (click)="confirmLogout()" class="logout ml-1">
                <i class="bx fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </div>
        </li>
    </ul>
</div>

<!-- <div class="">
    <app-navbar></app-navbar>
</div> -->