<button (click)="clickPopup()" data-popover-offset="10" data-popover-target="popover-click" data-popover-placement="left"
    data-popover-trigger="click" type="button"
    class="relative inline-flex items-center p-3 text-sm font-medium text-center text-white bg-[#93c6fd] rounded-lg hover:bg-[#4476bd] focus:ring-4 focus:outline-none focus:ring-blue-300">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
        <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
        <path
            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
    </svg>
    <!-- <div class="" aria-hidden="true" >
        <img class="w-10 h-10" src="../../../assets/images/chatbox.gif" alt="Neil image">
    </div> -->
    <div
        class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
        5</div>
</button>
<div id="myPopup" class="grid grid-cols-12">
    <div data-popover id="popover-click" role="tooltip" class="absolute z-10 invisible inline-block w-96 text-sm text-gray-500 transition-opacity 
    duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0
     ">
     <button (click)="closePopup()" data-popover-close type="button" class="absolute top-2 end-2 p-2 text-sm text-gray-500 focus:outline-none">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
        <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg flex">
            <div class="flex-shrink-0">
                <img class="w-8 h-8 rounded-full mr-2" src="../../../assets/images/Customer6.jpg" alt="Neil image">
            </div>
            <div>
                <h3 class="font-semibold text-gray-900">Excell-on Services</h3>
            </div>
        </div>
        <div class="overflow-y-auto h-48 scroll-container">
            <div class="flex my-2">
                <div class="col-md-2 col-xs-2 avatar mx-3">
                    <img class="w-8 h-8 rounded-full mr-2" src="../../../assets/images/Customer6.jpg" alt="Neil image">
                </div>
                <div class="">
                    <div class="mr-1">
                        <p>that mongodb thing looks good, huh?
                            tiny master db, and huge document store</p>
                    </div>
                </div>
            </div>
            <div class="flex my-2">
                <div class="col-md-2 col-xs-2 avatar mx-3">
                    <img class="w-8 h-8 rounded-full mr-2" src="../../../assets/images/Customer6.jpg" alt="Neil image">
                </div>
                <div class="">
                    <div class="mr-1">
                        <p>that mongodb thing looks good, huh?
                            tiny master db, and huge document store</p>
                    </div>
                </div>
            </div>
            <div class="flex my-2">
                <div class="col-md-2 col-xs-2 avatar mx-3">
                    <img class="w-8 h-8 rounded-full mr-2" src="../../../assets/images/Customer6.jpg" alt="Neil image">
                </div>
                <div class="">
                    <div class="mr-1">
                        <p>that mongodb thing looks good, huh?
                            tiny master db, and huge document store</p>
                    </div>
                </div>
            </div>
            <div class="flex my-2">
                <div class="col-md-2 col-xs-2 avatar mx-3">
                    <img class="w-8 h-8 rounded-full mr-2" src="../../../assets/images/Customer6.jpg" alt="Neil image">
                </div>
                <div class="">
                    <div class="mr-1">
                        <p>that mongodb thing looks good, huh?
                            tiny master db, and huge document store</p>
                    </div>
                </div>
            </div>
            <div class="flex my-2">
                <div class="col-md-2 col-xs-2 avatar mx-3">
                    <img class="w-8 h-8 rounded-full mr-2" src="../../../assets/images/Customer6.jpg" alt="Neil image">
                </div>
                <div class="">
                    <div class="mr-1">
                        <p>that mongodb thing looks good, huh?
                            tiny master db, and huge document store</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3 py-1 bg-gray-100 border-b border-gray-200 rounded-b-lg ">
            <form class="flex items-center">
                <label for="simple-search" class="sr-only">Message</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i class="fa-solid fa-pen"></i>
                    </div>
                    <input type="text" id="simple-search"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Message..." required>
                </div>
                <button type="submit"
                    class="p-2 ms-2 text-sm font-medium text-[#4476bd] hover:text-[#303c60] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <i class="fa-regular fa-paper-plane"></i>
                </button>
            </form>

        </div>
    </div>
</div>
