.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #333 transparent transparent transparent;
  }
  
  .asc {
    transform: rotate(180deg);
  }
  