<h1 mat-dialog-title>Add Service</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="newService.serviceName" placeholder="Service Name" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput [(ngModel)]="newService.description" placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" [(ngModel)]="newService.totalDay" placeholder="Total Days" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" class="ml-5 relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 min-w-[180px] h-10 max-h-[40px] rounded-lg text-xs bg-gray-400 text-white shadow-md shadow-blue-200/20 hover:shadow-lg hover:shadow-gray-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none">
    Cancel</button>
  <button mat-button color="primary" (click)="onSave()" class="ml-2 relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 min-w-[180px] h-10 max-h-[40px] rounded-lg text-xs bg-blue-300 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-200/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none">
    Save</button>
</div>
