.content {
    padding-top: 10px;
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 10px;

}

.action {
    padding: 0px 25px 20px;
    justify-content: flex-end;

}

.button {
    width: 80px; 
    flex: 0 0 auto;
    margin-left: 10px;
  }
