<div class="hero-header bg-[url('/assets/images/servicesBg.png')] bg-cover">
    <div class="container mx-auto py-5 lg:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-1">
            <div class="col-span-full text-center">
                <h1 class="text-4xl text-event">Payment History</h1>

            </div>
        </div>
    </div>
</div>

<div class="container mx-auto py-5 px-10">
    <div class="bg-white rounded-lg shadow-md">
        <div class="p-4 border-b">
            <div class="flex items-center justify-end space-x-2 mr-10">
                <div class="relative group">
                    <button class="btn btn-default btn-xs dropdown-toggle" aria-haspopup="true"
                        aria-expanded="false">Filter history <i class="fa fa-filter"></i></button>
                    <ul
                        class="dropdown-menu dropdown-menu-right absolute z-50 top-3 right-1 mt-2 hidden group-hover:block hover:bg-[#efefef]">
                        <li><a href="#" class="w-48 block px-4 py-2 text-gray-800 hover:bg-gray-200">Approved orders</a>
                        </li>
                        <li><a href="#" class="w-48 block px-4 py-2 text-gray-800 hover:bg-gray-200">Pending orders</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="p-4">
            <div class="flex items-start mb-4 border-b pb-2">
                <div class="w-1/12">
                    <img src="https://bootdey.com/img/Content/user_3.jpg" class="w-12 h-12 object-cover rounded-full" />
                </div>
                <div class="w-11/12 ml-4">
                    <div class="flex items-center justify-between">
                        <div><label class="text-xl font-medium">In-bound Services</label></div>
                        <div>
                            <span class="font-semibold">Order name</span>
                        </div>
                    </div>
                    <p>Number of days of use: 2</p>
                    <p>Money paid: $6000</p>
                    <div class="flex items-center">
                        <a href="#" class=" rounded-full bg-green-300" title="Paid"><i class="fas fa-check px-2"></i></a>
                    </div>
                    <p class="text-xs">Order made on:
                        <time>05/31/2014</time>
                        by
                        <a href="#">Jane Doe</a>
                    </p>
                </div>
            </div>
            <div class="flex items-start mb-4">
                <div class="w-1/12">
                    <img src="../../../assets/images/user.jpg" class="w-12 h-12 object-cover rounded-full" />
                </div>
                <div class="w-11/12 ml-4">
                    <div class="flex items-center justify-between">
                        <div><label class="text-xl font-medium">In-bound Services</label></div>
                        <div>
                            <span class="font-semibold">Order name</span>
                        </div>
                    </div>
                    <p>Number of days of use: 2</p>
                    <p>Money paid: $6000</p>
                    <div class="flex items-center">
                        <a href="#" class=" rounded-full bg-red-300" title="Unpaid"><i class="fa-solid fa-xmark px-2"></i></a>
                    </div>
                    <p class="text-xs">Order made on:
                        <time>05/31/2014</time>
                        by
                        <a href="#">Jane Doe</a>
                    </p>
                </div>
            </div>           
        </div>
    </div>
</div>